body {
	background: linear-gradient(0deg, #ccff7e 0%, #94ffce 100%);
	font-family: tahoma;
	color: #0f0f0f;
 }
 h1 {
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
 }
 .jam-digital {
	width: 60%;
	margin: 10% 30%;
 }
 #jam span {
	float: left;
	text-align: center;
	font-size: 70px;
	margin: 0 2.5%;
	padding: 20px;
	width: 15%;
	border-radius: 10px;
	box-sizing: border-box;
 }
 #jam span:nth-child(1) {
	background: #a70c0c;
 }
 #jam span:nth-child(2) {
	background: #f6ab29;
 }
 #jam span:nth-child(3) {
	background: #298f19;
 }
 #jam::after {
	content: "";
	display: block;
	clear: both;
 }
 #unit span {
	float: left;
	width: 20%;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.7)
 }
 span.turn {
	animation: turn 0.7s ease;
 }
 @keyframes turn {
	0% {transform: rotateX(0deg)}
	100% {transform: rotateX(360deg)}
 }
 @media screen and (max-width: 980px){
	#jam span {
	   float: left;
	   text-align: center;
	   font-size: 50px;
	   margin: 0 1.5%;
	   padding: 20px;
	   width: 20%;
	}
	h1 {
	   margin: 20px 5%;
	   text-align: center;

	}
	.jam-digital {
	   width: 100%;
	   margin: 10% 20%;
	}
	#unit span {
	   width: 23%;
	}
}